.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
_tests/**
.mypy_cache/**
.git/**
*.vsix

__pycache__/
_tests/
.mypy_cache/
assets/
dist/
node_modules/
.vscode-test/
release/
PUBLISHING.md

